<!DOCTYPE html>
<html lang="en" style="overflow: hidden">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Screens Viewer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  </head>
  <body style="overflow: hidden">
    <noscript>
      <strong>We're sorry but screens-viewer doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" style="width: 100vw; height: 100vh; overflow: hidden"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
