<template>
  <v-app dark>
    <v-carousel height="100%" :show-arrows="false" hide-delimiters>
      <v-carousel-item>
        <iframe
          v-if="currentAsset.type == 'Webpage'"
          :src="currentAsset.properties.url"
          style="overflow: hidden; width: 100vw; height: 100vh; max-width: 100vw; max-height: 100vh;"
          frameborder="0"
        ></iframe>
        <video
          v-if="currentAsset.type == 'Media' && currentAsset.relationships.asset.type == 'video/mp4'"
          style="width: 100%"
          autoplay
        >
        <source :src="currentAsset.relationships.asset.path" :type="currentAsset.relationships.asset.type">
        </video>
        <v-responsive v-if="isPhoto">
          <img :src="currentAsset.relationships.asset.path" style="height: 100%" alt="">
        </v-responsive>
      </v-carousel-item>
    </v-carousel>
  </v-app>
</template>

<script>
import moment from "moment";
import axios from "axios";
import { setInterval } from "timers";
import _ from "lodash";

export default {
  name: "App",
  mounted() {
    this.getAllAssets();
  },
  computed: {
    isPhoto: function () {
      if (this.currentAsset.type == 'Media') {
        return this.currentAsset.relationships.asset.type.includes('image')
      } 

      return false;
    }
  },
  data: () => ({
    assets: [],
    activeAssets: [],
    inActiveAssets: [],
    currentAsset: null,
    currentAssetIndex: -1,
    currentAssetDuration: 0
  }),
  methods: {
    getAllAssets() {
      this.activeAssets = [];
      axios
        .get("http://screens-api.test/api/asset")
        .then(response => {
          response.data.data.forEach(asset => {
            if (asset.properties.active) {
              this.assets.push(asset);
            }
          });
        })
        .catch(error => {
          console.log(error.response.data);
        })
        .then(() => {
          this.heartbeat();
        });
    },
    heartbeat() {
      console.log("Heartbeat created!");
      setInterval(() => {
        this.filterAssets();
      }, 2000);

      setInterval(() => {
        console.log("Duration: " + this.currentAssetDuration);
        if (this.currentAssetDuration == 0 && this.activeAssets.length > 0) {
          if (this.currentAssetIndex + 1 < this.activeAssets.length) {
            this.currentAsset = this.activeAssets[this.currentAssetIndex + 1];
            this.currentAssetDuration = this.currentAsset.properties.duration;
            this.currentAssetIndex = this.currentAssetIndex + 1;
          } else {
            this.currentAsset = this.activeAssets[0];
            this.currentAssetDuration = this.currentAsset.properties.duration;
            this.currentAssetIndex = 0;
          }
        }
        if (this.currentAssetDuration > 0) {
          this.currentAssetDuration--;
        }
      }, 1000);
    },
    filterAssets() {
      this.assets.forEach(asset => {
        if (
          moment(asset.properties.start_at).isSameOrBefore(moment().format()) &&
          moment(asset.properties.end_at).isSameOrAfter(moment().format()) &&
          this.containsObject(asset, this.activeAssets) === false
        ) {
          this.activeAssets.push(asset);
        }
      });
    },
    containsObject(obj, list) {
      var x;
      for (x in list) {
        if (list.hasOwnProperty(x) && list[x] === obj) {
          return true;
        }
      }

      return false;
    }
  }
};
</script>
